@import "variables.scss";
@import "header_styles.scss";

*{
  box-sizing: border-box;
}

body {
  background-color: $background-color-base;
  }

a, p, h1, h2, h3, h4, h5, li, button {
  font-family: 'Umbrage', $font-family-base, $font-family-second;
  color:$font-color-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base; 
  text-decoration: none;   
}

p, li {
  font-family: "OpenSans", $font-family-base, $font-family-second;
}

li {
  list-style: none;
}

h1 {   
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;          
  text-align: center;    
  line-height: $font-size-h1;
  text-transform: uppercase;  
}
 
h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  text-align: center; 
  letter-spacing: .12em;
  font-family: $font-family-h1;
}

h3 {
  font-size: $font-size-h3;
  text-align: center; 
  letter-spacing: .12em;
}

h4 {
  font-size: $font-size-h4;
}
 
  li {font-size: $font-size-h4;
    text-align: justify;
}
  
  .container {   
    max-width: 75rem;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 auto;
}

.header {
  padding: 0;
}
  