// @font-face {
//     font-family: 'OpenSans';
//     src: url('../FONTS/OpenSans-Bold.ttf') format('truetype');
//     font-display: swap;
//     }

    @font-face {
        font-family: 'OpenSans';
        src: url('../FONTS/OpenSans-Light.ttf') format('truetype');
        font-display: swap;
        }

        @font-face {
            font-family: 'Umbrage';
            src: url('../FONTS/Umbrage.ttf') format('truetype');
            font-display: swap;
            }

    // @font-face {
    //     font-family: 'OpenSans';
    //     src: url('../FONTS/OpenSans-Medium.ttf') format('truetype');
    //     font-display: swap;
    //     }

       
    //