@import "variables.scss";
// ---------HEADER-------------

.header {
    display: flex;
    position: relative;
    top: 0;
    left: 0; 
    min-width: 100px;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem 0;
    font-weight: $font-weight-bold;
    color: $font-color-header; 
    text-transform: uppercase;
    z-index: 100;

    .navigation {
        display: flex;    
        align-items: center;

        &__reference {
            position: relative;
            padding: 0.5rem;  
            // color:$font-color-yellow;      
            
            &::before,
            &::after{
              content:'';
              position:absolute;
              top:0;
              right:0;
              height:1px;           
              width:0;
              background:$background-color-yellow;
               box-shadow:
                -1px -1px 5px 0px #fff,
                7px 7px 20px 0px #0003,
                4px 4px 5px 0px #0002;
              transition:400ms ease all;
            }

            &::after{
               right:inherit;
              top:inherit;
               left:0;
              bottom:0;
            }
            
            &:hover::before,
            &:hover::after,
            &:focus::before,
            &:focus::after{
               width:100%;
               transition:800ms ease all;
            }   
        }      
    }   
}

.question a {
  padding: 0.5rem;
  text-align: center;
  }
  
  .question a:hover, .question a:focus {
     color: $font-color-header-hover;   
      }
  
  .phone a{
      color: $font-color-header;
      transition: all 0.2s ease-in-out;
  }
  
  .phone:hover a, .phone:focus a {     
      color: $font-color-header-hover;    
  }
  
  .phone:hover, .phone:focus {  
    transform: scale(1.05);   
}

@media all and (max-width:800px) {

    .header { 
        justify-content: flex-end;  
        height: auto;   

        .phone {     
            margin-right: 3rem;
        }

       .navigation-wrapper {  
        visibility: hidden;    
        position: absolute;
        left: 50%;
        top: -100%;
        transform: translate(-50%, -50%);
        transition: top 0.4s ease-in-out;   
                      
        }

        .burger-menu {
            position: absolute;
            width: auto;
            height: auto;
            top: 1rem;
            right:1rem;
        }

        .burger-menu_icon {          
            transition: all 0.4s ease-in-out;
            display: block;
            position: relative;
            cursor: pointer;
            width: 1.625rem;                    
            flex-shrink: 1;           
            flex-grow: 0;
            height: 1.188rem;         

            .burger-menu__icon-line {
                cursor: pointer;
                height: 3px;
                width: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                display: block;
                border-radius: 1px;             
                transform: rotate(0deg);                
                transition: .5s ease-in-out;
            }

            .burger-menu__icon-line:nth-child(2) {
                top: 0.5rem;
            }

            .burger-menu__icon-line:nth-child(3) {
                top: 1rem;
            }
        }
    }   

    .menu-active .btn {
        visibility: hidden;
    }

    // при клике по меню

    #wrapper.menu-active { 
        background: rgba(54, 54, 52, 0.9);
    }

    .menu-active { 
        .phone {
            display: none;
        }

        .header {   
           min-height: 100vh;  
             
        
        .navigation-wrapper {          
            visibility:visible; 
            top: 50%;
            transition: top 0.4s ease-in-out;
            
       
            .navigation {       
                flex-direction: column;

                 & li {
                    padding: $padding-menu 0;
                }

                &__reference {
                     font-size: $font-size-h3;
                }
            }
        }
    }

        .burger-menu_icon {        
            height: 1.28rem;
        

        .burger-menu__icon-line:nth-child(1) {
            top: 50%;
            transform: rotate(495deg);
        }

        .burger-menu__icon-line:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        .burger-menu__icon-line:nth-child(3) {
            top: 50%;
            transform: rotate(-495deg);
        }
    }
    }   
    
    .question {
        display: none;
    }
  
}