.btn { 
  position: relative;    
  border: 1px $background-color-btn solid;    
  border-radius: 10px;
}

    .btn span {
      position: relative;
      display: block; 
      padding: $font-size-button; 
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .btn:before,
    .btn:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: #ffee00;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn:before{
       height: 0%;
       width: 1px;
    }
    .btn:after {
      width: 0%;
      height: 1px;
    }
    .btn:hover, .btn:focus{
      border-color: transparent;
      color: $font-color-yellow;
      background: transparent;      
    }
    .btn:hover:before{
      height: 100%;
    }

    .btn:hover:after, .btn:focus:after {
      width: 100%;
    }

    .btn span:before,
    .btn span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: #ffee00;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;  
    }
    .btn span:before {
      width: 1px;
      height: 0%;
    }
    .btn span:after {
      height: 1px;
      width: 0%;
    }
    
    .btn span:hover:before {
      height: 100%;
    }

    .btn span:hover:after {
      width: 100%;   
    }

    .btn span:before:focus {
      height: 100%;
    }

    .btn span:focus:after {
      width: 100%;   
    }