:root {
  --gap: 12px;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #000;
}
/* 
.slider {
  overflow: hidden;
  position: relative;
  height: 100vh;
  color: #fff;
}
.slider__top-heading {
  z-index: 12;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
}
.slider.s--ready .slider__top-heading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide-subheading {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-subheading {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 12px;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: all 0.33333s;
  transition: all 0.33333s;
}
.slider__slide.s--prev .slider__slide-heading span {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0.33333s;
          transition-delay: 0.33333s;
}
.slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.43333s;
          transition-delay: 0.43333s;
}
.slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.53333s;
          transition-delay: 0.53333s;
}
.slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.63333s;
          transition-delay: 0.63333s;
}
.slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.73333s;
          transition-delay: 0.73333s;
}
.slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.83333s;
          transition-delay: 0.83333s;
}
.slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.93333s;
          transition-delay: 0.93333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-readmore:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 6px);
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.slider__slide-readmore:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: '';
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
  -webkit-transform: translateX(-32.5%);
          transform: translateX(-32.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  -webkit-transition-delay: 0.365s;
          transition-delay: 0.365s;
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  -webkit-transition-delay: 0.285s;
          transition-delay: 0.285s;
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
  -webkit-transform: translateX(-97.5%);
          transform: translateX(-97.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  -webkit-transition-delay: 0.205s;
          transition-delay: 0.205s;
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}
.slider__control {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  cursor: pointer;
}
.slider__control:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #000;
  border-bottom: none;
  border-right: none;
  -webkit-transform: translateX(5px) rotate(-45deg);
          transform: translateX(5px) rotate(-45deg);
}
.slider__control--right {
  left: auto;
  right: 50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.slider__control--right:before {
  -webkit-transform: translateX(-5px) rotate(135deg);
          transform: translateX(-5px) rotate(135deg);
}
.slider.s--ready .slider__control {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.icon-link {
  z-index: 100;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
} */


/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
 /* @font-face {
  font-family: 'flexslider-icon';
  src: url('http://bootstraptema.ru/snippets/slider/2016/flexslider/flexslider-icon.eot');
  src: url('http://bootstraptema.ru/snippets/slider/2016/flexslider/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('http://bootstraptema.ru/snippets/slider/2016/flexslider/flexslider-icon.woff') format('woff'), url('http://bootstraptema.ru/snippets/slider/2016/flexslider/flexslider-icon.ttf') format('truetype'), url('http://bootstraptema.ru/snippets/slider/2016/flexslider/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* .flex-container a:hover,
.flex-slider a:hover {
  outline: none;
} */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .flex-pauseplay span {
  text-transform: capitalize;
} */
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* .flexslider {
  margin: 0;
  padding: 0;
} */
.flexslider .slides > li {
  display: none;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {  
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides li {
  display: block;
  height: clamp(30rem,50vW,44rem);
  width: 100%;
}

.flexslider .slides img {
  object-fit: cover;
  height: 100%;
  width: 100%;  
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

/* .carousel li {
  margin-right: 5px;
} */

/* .flex-direction-nav {
  *height: 0;
} */

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  margin: -20px 0 0;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  opacity: 0.7;
  cursor: pointer;
  /* color: rgba(0, 0, 0, 0.8); */
  /* text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
}

.flexslider .flex-direction-nav .flex-prev a::before,
.flexslider .flex-direction-nav .flex-next a::before {
  opacity: 0.7;
  display: inline-block;
  content: ' ';
  /* background-color: rgba(252, 252, 252, 1); */

}

.flex-direction-nav a.flex-next:before {
  content: ' ';
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  /* left: 10px; */
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; 
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;

}

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
} 

.flex-direction-nav .flex-disabled {
  /* opacity: 0!important; */
  /* filter: alpha(opacity=0); */
  cursor: default;
  z-index: -1;
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

.btn-all-container{
  display: flex;
  justify-content: center;
  margin-top: clamp(1rem, 2.3vw, 2rem);
}

#btn-all-photo {
background-color: transparent;
color: transparent;
}

.flex-control-nav {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  row-gap: clamp(0.3rem, 1vw, 0.7rem);
}


.flex-control-nav-all {
  flex-wrap:wrap;
  justify-content: center;
}


.flex-control-nav li {
  /* margin: 0 6px; */
  display: inline-block;
  zoom: 1;
  padding: 0 clamp(0.3rem, 1vw, 0.7rem);
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: clamp(1rem,2.4vw,2rem) 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  position: relative;
  min-width: 25%;
  width: 25%; 
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  /* opacity: .7; */
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
  border: 1px solid #ffee00;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}




