// ----------------- SECTION STATISTICS------------------

  
  .statistics {
  padding-top: clamp(1.5rem,3.5vw,3rem); 
    padding-bottom: clamp(1.5rem,3.5vw,3rem); 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:clamp(0.8rem,1.7vw,1.3rem);
  flex-wrap: nowrap;
  
    &__item {   
      flex: 1;
      gap: 1rem;    
    }
  
    &__item-flex{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__item-img {
      display: flex;
      margin-bottom: clamp(1rem,2vw,1.5rem);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $background-color-yellow;
      height: clamp(7rem,13vw,10rem);
      width:clamp(7rem,13vw,10rem);
      padding: clamp(1.5rem,3vw,2.25rem);
      
   }
  
    &__item-img svg{
      height:100%;
      min-width:100%;
    }
  
    &__item-h{
      margin-top: auto;
      text-transform: uppercase;
      text-align: center;
    }
    &__item-value{ 
      text-transform: uppercase;
      text-align: center;
      font-size: calc($font-size-h3-0.5rem);
    }
  }
 