$font-color-base:rgb(214, 209, 209);
$font-color-dark: #999999;
$font-color-dark-h: #2b2e34;
$font-color-header:rgb(214, 209, 209);
$font-color-header-hover:#ffee00;
$font-color-yellow:#ffee00;
$font-size-base:clamp(0.8rem,1.5vw,1.3rem);
$font-size-h1: clamp(2.2rem,8vw,5rem);
$font-size-h2: clamp(1.8rem,3.75vw,3rem);
$font-size-h3: clamp(1.3rem,2.5vw,2.25rem);
$font-size-h4:clamp(1rem,2vw,1.5rem);
$font-size-button:clamp(0.75rem,1.2vw,1rem);
$quests_image-quests-image:clamp(1.3rem,2.5vw,2.25rem);
$line-height-base:1.5;
$line-height-second:1.15;
$font-weight-base:300;
$font-weight-bold:700;
$font-family-base:"Oswald";
$font-family-p:"OpenSans";
$font-family-h1:"Oswald";
$font-family-second:"sans-serif";
$background-color-header:rgba(54, 54, 52, 0.6);
$background-color-base: rgba(54, 54, 52, 1);
$background-color-light: #fff;
$background-color-btn:#ffee00;
$background-color-yellow:#ffee00;
$padding-menu:clamp(0.8rem,1.7vw,1.3rem);

